[Desktop Entry]
Name=r2
Comment=S3 Object Storage Browser
Exec=/usr/bin/r2
Icon=r2
Terminal=false
Type=Application
Categories=Utility;FileManager;Network;
StartupNotify=true
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Neues Fenster
Exec=/usr/bin/r2
